@import url('https://fonts.googleapis.com/css?family=Oswald|Poiret+One|Zhi+Mang+Xing&display=swap');
@import url(//db.onlinewebfonts.com/c/5520b2b875202fac53dc536bc7aca367?family=Futura);
body {
  margin: 0px;
  padding: 0px;
}

.titulo {
  background: lightgrey;
  width: 100%;
  height: 150px;
  font-family: "Futura", sans-serif;
  font-size: 100px;
  position: relative;
  top: 10px;
  flex-direction: column;

  .f{
    display: inline-block;
    margin: 0px 60px;
    
  }

  .revista {
    display: inline-block;
    width: 60px;
    height: 60px;
    padding: 5px 5px;
    margin: 5px 10px;
    border-radius: round(50%);
    color: rgb(104, 214, 40);
    font-size: 20px;
    border: 5px solid rgb(104, 214, 40);
    text-align: center;
    position: absolute;
    top: 24px;
    left: 100px;
    
    
  }
  .sub {
    position: relative;
    bottom: 25px;
    font-size: 20px;
    text-align: left;
    display: block;
    left: 250px;
    width: 20%;
  }
}
.titulo > revista > sub {
  font-size: 5px;
  text-align: right;
}
.contenedor
{
    width: 100%;
    background: #fff;
    height: 80px;
   
    
}

.menu {
 padding: 0px;
  height: 35px;
  display: flex;
  color: white;
  justify-content: space-around; 
}

.menu li {
  list-style: none;
    font-family: "Oswald", sans-serif;
  width: 12%;
  height: 30px;
  background: green;
  color: white;
  border-radius: 1px;
  text-align: center;
  padding: 3px 0px;
  
}
.menu .gris{
  width: 25%;
  background: gray;
}
.imagencabecera
{
    background: url(./../img/ags.jpg);
    width: 100vw;
    height: 60vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
   display: flex;
   justify-content: center;
   align-items: center;
}

.imagencabecera .lineamargen{
 
  width: 98vw;
  height: 95%;
  border-style: solid;
  border-color: white;
  border-width: 2px;
  
  position: relative;
  
}
.imagencabecera .lineamargen > .textoimagen
{ 
  
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: white;
    text-align:  left;
    font-family: "Futura", sans-serif;
    font-size: 20px;
    position: absolute;
    bottom: 5px;
    left: 10px;
   
    
}

.imagencabecera .lineamargen > .revforum
{
    position: absolute;
    font-family: "futura";
    font-size: 60px;
    color: white;
position: absolute;
right: 30px;
}
img{
    width: 100%;
}

.forumrev{
  font-size: 40px;
  font-family: "Futura";
  color: white;
  margin: 0px;

}
.forumrev > span >span{
  color: rgb(104, 214, 40);
}
.contenedordecolumnas
{
    width: 100%;
    background: #fff;
    height: 40%;
   margin-top: 20px;
}

.contenedordecolumnas > .columnas {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  
}
.col1{
  color: white;
  background: purple;
  width: 24%;
  height: 500px;
  text-align: center;
  display: flex;
align-items: center;
flex-direction: column;
justify-content: space-around;
  font-family: "Futura";
  font-size: 25px;
}


.contenedordecolumnas .columnas .col1 .circuloradio{
border-radius: 50%;
width: 200px;
height: 200px;
background: magenta;
display: flex;
text-align: center;
align-items: center;
border: 10px solid rgb(219, 219, 219);
padding: 30px;
font-family: "Futura", sans-serif;
font-size: 50px;
position: relative;

}
.col1 > .circuloradio > span{
  font-size: 20px;
  position: absolute;
  left: 145px;
  bottom: 80px;

} 
.contenedordecolumnas .columnas .col1 .handmade{
  font-family: "Zhi Mang Xing", cursive;
  font-size: 40px;

}

.col2{
  background: #1C2D39;
  width: 24%;
  height: 500px;
  text-align: center;
  color: white;
  display: flex;
align-items: center;
flex-direction: column;
justify-content: space-around;
font-family: "Futura";
}
.col2 .fforum{
  font-size: 30px;

}
.col2 .verdeo{
  color: rgb(104, 214, 40);

}
.col2 .teinvita{
  font-size: 20px;

}

.col2 .circuloemprendedores{
  border-radius: 50%;
width: 150px;
height: 150px;
background: gray;
display: flex;
align-items: center;
border: 10px solid rgb(104, 214, 40);
padding: 10px;
position: relative;
}
.circuloemprendedores .circuloemp {
  width: 30px;
  position: absolute;
  bottom: 70px;
  font-size: 37px;
  left: 13px;
 
}
.circuloemprendedores .emprcirculo{
  position: absolute;
  bottom: 50px;
  font-size: 18px;
  left: 14px;
}

.col3{
  background: white;
  width: 24%;
  height: 500px;
  text-align: center;
  border: 2px solid gray;
  position: relative;
  color: darkgray;
}
.col3 > .seccionfacebook{
  width: 100%;
  height: 15%;
  position: relative;
  font-family: "Oswald";
  display: flex;
  flex-direction: column;
  
}
.col3 > .seccionfacebook > .perfilfb img{
 
  position: absolute;
  display: flex;
  width: 20%;
  margin: 5px;
}
.col3 > .seccionfacebook > .titulodepagina{
  font-family: "Poiret one";
}

.col3 > .seccionfacebook > .megusta{
  color: white;
  width: 100px;
  height: 24px;
  background: rgb(18, 52, 247);
  border-radius: 3px;
  position: absolute;
  left: 110px;
  bottom: 5px;
}
.col3 > .seccionfacebook > .megusta .f{
 width: 18px;
 height: 18px;
 
 background: #fff;
 display: inline-block;
 margin: 2px;

}
.col3 > .cuadricula{
  display: flex;
  flex-wrap: wrap;
}
.col3 > .cuadricula > img {
  width: 100px;
  height: 100px;
  margin: 4px;
}
.col3 > .logofacebook {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 5px;
}


.col4{
  background: url(./../img/leaf.jpg);
  width: 24%;
  height: 500px;
  position: relative;
}
.contenedordecolumnas .columnas .col4 .contacto{
  list-style: none;
  position: absolute;
  top: 30px;
  left: 40px;
  text-align: left;
  color: white;
  font-family: "Futura";
  font-size: 20px;
  display: flex;
  justify-content: center;
flex-direction: column;
  

 }