@import url("https://fonts.googleapis.com/css?family=Nunito|Open+Sans&display=swap");
body {
  margin: 0;
  padding: 0;
}

.header {
  height: 90px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  overflow: hidden;
}
.header .logo {
  width: 25vw;
  height: 100%;
  position: absolute;
  background: #edcd1e;
}
.header .logo img {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 35px;
  top: 20px;
}
.header .logo h1 {
  position: absolute;
  font-family: "open sans";
  font-weight: 15px;
  font-size: 20;
  left: 100px;
  line-height: 0.7;
}
.header .logo h1 span {
  font-family: "nunito";
  font-size: 20px;
}
.header .menunav {
  width: 75vw;
  height: 100%;
  position: absolute;
  background: #1e2c3b;
  right: 0;
}
.header .menunav ul {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
}
.header .menunav ul li {
  color: white;
  font-family: "open sans";
  font-size: 15px;
}
.header .menunav ul li:hover {
  color: #edcd1e;
}

.titulo {
  margin: 0;
  padding: 0;
  position: relative;
  width: 100vw;
  height: 100vh;
}
.titulo video {
  width: 100%;
  height: 100%;
  position: fixed;
}
.titulo span {
  position: absolute;
  top: 100px;
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
  font-family: "open sans";
  text-align: center;
  font-size: 60px;
  font-weight: 20px;
}
.titulo span .fa {
  font-weight: 10px;
  font-size: 100px;
}

.servicios {
  margin: 0;
  padding-bottom: 100px;
  position: relative;
  width: 100%;
  height: 100vh;
  background: #ffffff;
}
.servicios .servs {
  position: absolute;
  text-align: center;
  width: 100%;
  font-family: "nunito";
  font-size: 30px;
  color: lightgray;
  display: block;
  top: 0;
}
.servicios .lineamarilla {
  background: #edcd1e;
  width: 100px;
  height: 10px;
  position: absolute;
  left: calc(50% - 50px);
  top: 100px;
  display: block;
}
.servicios h6 {
  color: #3c5975;
  font-family: "nunito";
  font-size: 22px;
  margin: 20px;
}
.servicios span {
  display: block;
  margin: 20px;
  font-family: "open sans";
  font-size: 15px;
  color: gray;
  text-align: left;
}
.servicios .servicios3 {
  margin: 0;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 150px;
  left: calc(50% - 480px);
}
.servicios .servicios3 img {
  display: block;
  width: 100%;
  top: 0;
}
.servicios .servicios3 .descripcionservicios {
  width: 300px;
  height: 600px;
  background: #f7f7f7;
  margin: 10px;
  padding: 30px 0;
}

.nosotros {
  margin: 0px;
  padding: 0;
  position: relative;
  width: 100%;
  height: 100vh;
  background: white;
}
.nosotros .nostexto {
  margin: 0;
  width: 50%;
  display: flex;
  justify-content: left;
  background: gray;
}
.nosotros .nostexto .nos {
  margin: 0;
  position: absolute;
  text-align: center;
  width: 32%;
  font-family: "nunito";
  font-size: 30px;
  color: lightgray;
  display: block;
}
.nosotros .nostexto .lineamarilla {
  margin: 0;
  background: #edcd1e;
  width: 100px;
  height: 10px;
  position: absolute;
  left: calc(10% - 50px);
  top: 15%;
  display: block;
}
.nosotros .nostexto span {
  margin: 0;
  position: absolute;
  text-align: left;
  width: 32%;
  font-family: "nunito";
  font-size: 20px;
  color: #1e2c3b;
  left: 70px;
  top: 200px;
}
.nosotros .imagenfija {
  background: url(./../img/nosotros.webp);
  position: absolute;
  width: 50%;
  height: 100%;
  right: 0;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: right;
}

.datos {
  position: relative;
  width: 100%;
  height: 300px;
  background: #edcd1e;
  display: flex;
  justify-content: center;
  align-items: center;
}
.datos .datostexto {
  font-family: "open sans";
  font-size: 60px;
  color: white;
  width: 200px;
  height: 100px;
  text-align: center;
  font-weight: bolder;
}
.datos .datostexto span {
  color: #1e2c3b;
  font-size: 20px;
  display: block;
  font-family: "Nunito";
  font-weight: bold;
}
.datos .separadorblanco {
  width: 2px;
  height: 50px;
  margin: 10px;
  background: #fff;
  display: flex;
  justify-items: center;
}

.proyectos {
  width: 100%;
  height: 1000px;
  background: #fff;
  position: relative;
  padding-top: 200px;
}
.proyectos h2 {
  position: absolute;
  text-align: center;
  width: 100%;
  height: 100px;
  font-family: "nunito";
  font-size: 50px;
  color: lightgray;
  top: 0;
  display: block;
}
.proyectos .lineamarilla {
  background: #edcd1e;
  width: 100px;
  height: 10px;
  position: absolute;
  left: calc(50% - 50px);
  top: 150px;
  display: block;
}
.proyectos .conetendorgaleria {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.proyectos .galeria1 {
  width: 50vw;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 30px;
}
.proyectos .galeria1 img {
  width: 455px;
  height: 468px;
  margin: 10px;
  opacity: 100%;
}
.proyectos .galeria1 img:hover {
  opacity: 50%;
}
.proyectos .galeria2 {
  width: 50vw;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 530px;
}
.proyectos .galeria2 img {
  width: 455px;
  height: 468px;
  margin: 10px;
  opacity: 100%;
}
.proyectos .galeria2 img:hover {
  opacity: 50%;
}

.seccionclientes {
  width: 100%;
  height: 400px;
  background: #f7f7f7;
  margin: 0;
  padding: 0;
  position: relative;
}
.seccionclientes h2 {
  position: absolute;
  text-align: center;
  width: 100%;
  height: 100px;
  font-family: "nunito";
  font-size: 50px;
  color: lightgray;
  top: 0;
  display: block;
}
.seccionclientes .lineamarilla {
  background: #edcd1e;
  width: 100px;
  height: 10px;
  position: absolute;
  left: calc(50% - 50px);
  top: 150px;
  display: block;
}
.seccionclientes .logosclientes {
  width: 80%;
  height: 100px;
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  left: 10%;
  top: 60%;
}
.seccionclientes .logosclientes > img {
  width: 100px;
  height: 100px;
  filter: grayscale(100%);
}
.seccionclientes .logosclientes > img:hover {
  filter: grayscale(0%);
}

.contacto {
  width: 100%;
  height: 1200px;
  background: white;
  margin: 0;
  padding: 0;
  position: relative;
}
.contacto h2 {
  position: absolute;
  text-align: center;
  width: 100%;
  height: 100px;
  font-family: "nunito";
  font-size: 50px;
  color: lightgray;
  top: 0;
  display: block;
}
.contacto .lineamarilla {
  background: #edcd1e;
  width: 100px;
  height: 10px;
  position: absolute;
  left: calc(50% - 50px);
  top: 150px;
  display: block;
}
.contacto .mapa {
  display: flex;
  justify-content: center;
  transform: translateY(200px);
}
.contacto .columnas {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contacto .columnas .preguntas {
  padding: 200px;
  width: 400px;
  height: 400px;
  transform: translateX(-40px);
}
.contacto .columnas .preguntas h3 {
  font-family: "open sans";
  font-size: 30px;
  color: #3c5975;
}
.contacto .columnas .preguntas span {
  font-family: "nunito";
  font-size: 16px;
  color: #2c2c2c;
  line-height: 1.5;
}
.contacto .columnas .oficina {
  padding: 30px;
  width: 400px;
  height: 400px;
  transform: translateX(-145px);
}
.contacto .columnas .oficina h3 {
  font-family: "open sans";
  font-size: 30px;
  color: #3c5975;
}
.contacto .columnas .oficina span {
  font-family: "nunito";
  font-size: 16px;
  color: 44, 44, 44;
  line-height: 1.5;
}
.contacto .columnas .oficina .lineamarilla {
  background: #edcd1e;
  width: 80px;
  height: 10px;
  display: block;
  transform: translateY(320px) translateX(-150px);
}

footer {
  background: white;
  width: 100%;
  height: 5vh;
  position: relative;
  color: darkgray;
  font-family: #3c5975;
  display: flex;
  align-items: center;
}
footer span {
  width: 50%;
}
footer div {
  font-size: 20px;
}
footer div .fa {
  background: gray;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  color: white;
}

/*# sourceMappingURL=style.css.map */
