body{
    margin: 0;
    padding: 0;
    // background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
h1{
    background: green;
    position: relative;
    text-transform: uppercase;
    font-family: consola;
    letter-spacing: .1em;
    font-size: 10em;
    text-align: center;

 
}
h1::before{
    content: attr(data-text);
    position: absolute;
    height: 100%;
    width: 0%;
    top: 0;
    left: 0;
    border-right: 10px solid #f2f2f2;
    background: linear-gradient(to right, #ff0,#ff0,#0ff,#0f0,#ffc800);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent ;
    animation: type 4s steps(1) infinite;

}
@keyframes type {
    0%{width: 0%;}
    11%{width: 10%;}
    22%{width: 23%;}
    33%{width: 34%;}
    44%{width: 45%;}
    55%{width: 55%;}
    66%{width: 66%;}
    77%{width: 77%;}
    88%{width: 88%;}
    95%{width: 100%;}
    100%{width: 100%;}

}